<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxeGZseWRpeWZqZWVkcXZ5b3ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0ODM2NDksImV4cCI6MjA3OTA1OTY0OX0.OjroyFdSajfuzUvO8N7wA1VntLd_dfnPnPDG1M06FKQ</string>
	<key>URL</key>
	<string>https://zqxflydiyfjeedqvyova.supabase.co</string>
</dict>
</plist>
